
:root {
  /* base16 colors for easy access (templated by Stylix) */
  --base00: @base00@;/* base */
  --base01: @base01@;/* mantle */
  --base02: @base02@;/* surface0 */
  --base03: @base03@;/* surface1 */
  --base04: @base04@;/* surface2 */
  --base05: @base05@;/* text */
  --base06: @base06@;/* rosewater */
  --base07: @base07@;/* lavender */
  --base08: @base08@;/* red */
  --base09: @base09@;/* peach */
  --base0A: @base0A@;/* yellow */
  --base0B: @base0B@;/* green */
  --base0C: @base0C@;/* teal */
  --base0D: @base0D@;/* blue */
  --base0E: @base0E@;/* mauve */
  --base0F: @base0F@;/* flamingo */

  /* Global page toolbar colors. mostly affects PDF reader */
  --toolbar-bg-color: var(--base01) !important;
  --toolbar-icon-bg-color: var(--base0B) !important;
  --toolbar-icon-hover-bg-color: var(--base0A) !important;
  --toolbar-border-color: var(--base0E) !important;

  /* Color of icon when it is toggled on ie. toolbar icons in PDF viewer */
  --toggled-btn-color: var(--base09) !important;
  /* background of dropdown menus ie. page fit button in PDF viewer */
  --dropdown-btn-bg-color: var(--base00) !important;

  /* Colors some text, ie. page count on PDF reader */
  --main-color: var(--base05) !important;
  /* Colors some backgrounds, ie. slide view background in PDF reader */
  --body-bg-color: var(--base01) !important;

  --link-fg-color: var(--base0D) !important;
  --link-hover-fg-color: var(--base09) !important;

  /* ring when clicking into certain dialog boxes */
  --focus-ring-color: var(--base0D) !important;

  /* toolbar of popout sidebar in PDF reader */
  --sidebar-toolbar-bg-color: var(--base01) !important;
  /* toolbar dropdown menu backgrounds in PDF reader */
  --sidebar-bg-color: var(--base00) !important;
  --sidebar-border-color: var(--base0B) !important;
  /* If you click and drag the edges of one of these menus */
  --resizer-hover-bg-color: var(--base0E) !important;

  /* Dropdown menus in PDF reader like font, highlights,, etc */
  --doorhanger-bg-color: var(--base00) !important;
  --doorhanger-border-color: var(--base0A) !important;
  --doorhanger-hover-color: var(--base0E) !important;
  --doorhanger-separator-color: var(--base09) !important;

  /* colors of menu tree items ie. nav menu in PDF reader */
  --treeitem-color: var(--base09) !important;
  --treeitem-selected-color: var(--base0E) !important;
  --treeitem-hover-color: var(--base0B) !important;

  --field-bg-color: var(--base00) !important;
  --field-border-color: var(--base0B) !important;
  --field-color: var(--base05) !important;

  /* PDF tool signature tool */
  --signature-bg: var(--base00) !important;


}

/* toggle buttons, used in PDF tool dropdown menus */
.toggle-button {
  --toggle-dot-background-color-on-pressed: var(--base0B) !important;
  --toggle-dot-background-color: var(--base0E) !important;
  --toggle-background-color-pressed: var(--base02) !important;
  --toggle-background-color: var(--base02) !important;

  /* --toggle-border-color-active: var(--base09) !important; */
  --toggle-border-color: var(--base0E) !important;
  /* --toggle-border-color-active: var(--base0B) !important; */
  --toggle-background-color-pressed-hover: var(--base02) !important;
  --toggle-background-color-pressed-active: var(--base02) !important;
}
.toggle-button[aria-pressed="true"] {
	border-color: var(--base0B) !important;
}


  /* Turns main page background dark */
.pdfViewer {
	background: var(--base01) !important;
}

/* Specific tweaks for the comment menus for the PDF reader */
#editorCommentsSidebar, .commentPopup, .sidebar {
    /* Actual PDF comment itself */
  --comment-bg-color: var(--base00) !important;
  --comment-count-bg-color: var(--base08) !important;
  --comment-fg-color: var(--base05) !important;
  --comment-active-bg-color: var(--base02) !important;
  --comment-focus-outline-color: var(--base09) !important;
  --comment-border-color: var(--base0D) !important;
  --comment-date-fg-color: var(--base0F) !important;
  --divider-color: var(--base09) !important;

  --comment-button-bg: var(--base00) !important;

  /* middle chunk of comment dropdown menu in PDF reader */
  --comment-bg-color: var(--base00) !important;
  --comment-border-color: var(--base0E) !important;
  /* color of "learn more" link on  comment dropdown in PDF reader */
  --link-fg-color: var(--base0D) !important;
  --link-hover-fg-color: var(--base0B) !important;

  --button-comment-color: var(--base08) !important;

  --sidebar-bg-color: var(--base00) !important;
  --sidebar-border-color: var(--base0A) !important;
}
#commentManagerDialog {
    border-color: var(--base0A) !important;
}
/* text color of main text in comment dropdown in PDF reader */
.sidebarCommentText {
  color: var(--base05) !important;
}
/* Shows count of comments in comment dropdown in PDF reader */
#editorCommentsSidebarCount {
  color: var(--base00) !important;
}


/* Style settings for all slider UIs */
input[type="range"]::-moz-range-track {
  background-color: var(--base0B) !important; 
}
input[type="range"]::-moz-range-progress {
  background-color: var(--base0D) !important; 
}
/* TODO the whole slider breaks if this is set */
/* input[type="range"]::-moz-range-thumb { */
/*   color: var(--base01) !important;  */
/*   border: 1px solid var(--base0E) !important;  */
/* } */

/* UI square that stays after a comment is left in a PDF */
.annotationCommentButton {
  --comment-button-fg: var(--base0D) !important;
  --comment-button-bg: var(--base00) !important;
  --comment-button-border-color: var(--comment-button-fg) !important;
  --comment-button-hover-fg: var(--base0B) !important;
  --comment-button-hover-bg: var(--base00) !important;
  --comment-button-hover-border-color: var(--comment-button-hover-fg) !important;
  --comment-button-selected-bg: var(--base09) !important;
  --comment-button-selected-fg: var(--base00) !important;
  --comment-button-active-bg: var(--base09) !important;
  --comment-button-active-fg: var(--base00) !important;
}

/* used in UI elements, like the main container BG of the signature dialogue in the PDF tool */
.dialog {
  --dialog-bg-color: var(--base00) !important;
  --dialog-border-color: var(--base0A) !important;
  --text-primary-color: var(--base05) !important;
  --input-text-bg-color: var(--base00) !important;
  --input-text-fg-color: var(--base0D) !important;

  --button-primary-bg-color: var(--base01) !important;
  --button-primary-hover-bg-color: var(--base00) !important;
  --button-primary-active-bg-color: var(--base00) !important;
  --button-primary-active-fg-color: var(--base0E) !important;
  --button-primary-active-border-color: var(--button-primary-active-fg-color) !important;
  --button-primary-hover-border-color: var(--base0B) !important;
  --button-primary-border-color: var(--base0D) !important;
 /* ie. cancel button when adding signature in PDF tool */
  --button-secondary-border-color: var(--base05) !important;
  --button-secondary-hover-border-color: var(--base09) !important;

  --textarea-bg-color: var(--base00) !important;
  --textarea-fg-color: var(--base05) !important;
}
/* annoying.. handles the stuff INSIDE the dialog */
.signatureDialog {
	--primary-color: var(--base05) !important;
	--border-color: var(--base0A) !important;
	--open-link-fg: var(--link-fg-color) !important;
	--open-link-hover-fg: var(--link-hover-fg-color) !important;
}
#addSignatureDialog {
  --clear-signature-button-border-color: var(--base08) !important;
  --clear-signature-button-border-width: 1px !important;
  --clear-signature-button-bg-hover: var(--base00) !important;
  --clear-signature-button-active-color: var(--base00) !important;
  --clear-signature-button-bg-active: var(--base00) !important;
  --clear-signature-button-bg-focus: var(--base00) !important;
  --clear-signature-button-bg-disabled: var(--base00) !important;
  --clear-signature-button-disabled-color: var(--base04) !important;
  --tab-top-line-active-color: var(--base0B) !important;
  --tab-top-line-hover-color: var(--base09) !important;
  --tab-text-hover-color: var(--base0D) !important;
  --tab-bg-hover: var(--base00) !important;
  --tab-bg-active-hover-color: var(--base00) !important;
  --tab-top-line-inactive-color: var(--base0E) !important;
  --signature-placeholder-color: var(--base03) !important;
}
#addSignatureDoorHanger {
    --button-signature-hover-bg: color-mix( in srgb, var(--base0B), transparent 80% ) !important; 
    --signature-hover-bg: color-mix( in srgb, var(--base0B), transparent 80% ) !important; 
}

/* the popup that appears when you hihglight stuff in the PDF tool */
& .editToolbar {
    --editor-toolbar-bg-color: var(--base00) !important;
    --editor-toolbar-fg-color: var(--base09) !important;
    --editor-toolbar-hover-bg-color: color-mix( in srgb, var(--editor-toolbar-fg-color), transparent 80% ) !important; 
    --editor-toolbar-border-color: var(--base09) !important;
}